<div class="header">
    <i routerLink="/" class="material-icons-outlined md-28"> home </i>

    <i class="material-icons-outlined md-28"> share </i>

    <i class="material-icons-outlined md-28" (click)="openChat()"> chat </i>
</div>

<div class="address-bar">
    <div class="address-bar__inner">
        <input type="text" value="{{ytUrl}}" disabled>
    </div>
</div>

<div class="player">
    <div id="yt-player"></div>
    <div class="player__overlay"></div>
</div>

<div class="timeline">
    <div class="play-pause-button" (click)="playPause();">
        <i class="material-icons" [ngClass]="playing ? 'pause' : 'play'">
        </i>
    </div>
    <div class="time">
        <input #slider type="range" min="0" value="0" class="timeslider" (change)="postSeekTo($event.target.value);" />
    </div>
</div>