.chat {
    height: 100vh;
    width: 90vh;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    padding-top: 25px;
    position: relative;

    .chat__header{
        display: flex;
        justify-content: space-between;
        align-items: center;;
        user-select: none;
        margin-bottom: 10px;
        > span {
            font-size: 1.25rem;
        }
        > i {
            cursor: pointer;
        }
    }

    .chat__messages{
        height: calc(100% - (63px + 20px + 20px));
        border-top: 1px solid #dbdbdb;
        overflow-y: scroll;
    }

    .chat__input {
        padding: 0 20px;
        height: calc(43px + 20px);
        overflow: hidden;
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        background: #fff;
        .input__inner{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid rgb(29,28,29);
            border-radius: 4px;
            padding-left: 35px;
            width: 100%;
            height: 43px;
            outline: none;
            position: relative;
            font-weight: 400;
            > input {
                width: calc(100% - 33px);
                border: none;
            }
            > i {
                margin-right: 8px;
                cursor: pointer;
            }

        }
        .hint{
            margin-top: 8px;
            > span {
                color: rgba(29,28,29, 1);
            }
            font-size: 0.675rem;
            float: right;
            color: rgba(29,28,29, 0.5);
        }
    }

}